.EntryCard-body {
    text-align: left;
}

.EntryCard-rating {
    color: grey;
}

.EntryCard-text {
    width: 100%;
}

.EntryCard-button {
    margin-left: 5px;
    margin-right: 5px;
}

.EntryCard-button-container {
    float: right;
}
