.GameCard {
    text-align: left;
}

.GameCard-body {
    display: grid;
    grid-template-columns: 5% 55% 10% 30%;
}

.GameCard-rating {
    color: grey;
}

.GameCard-color {
    border: solid black;
    border-width: thin;
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.GameCard-white {
    background-color: white;
}

.GameCard-black {
    background-color: black;
}

.GameCard-top {
    margin-bottom: 20px;
}

.GameCard-button-container {
    width: 100%;
    text-align: right;
}

.GameCard-button {
    float: right;
}

.GameCard-link {
    color: black;
}

.GameCard-double-forfeit {
    width: 100%;
    text-align: right;
}

.GameCard-score {
    text-align: right;
    margin-left: 15px;
}