.StandingsCard-body {
    text-align: left;
}

.StandingsCard-rating {
    color: grey;
}

.StandingsCard-text {
    width: 100%;
}

.StandingsCard-button {
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    width: fit-content;
    background-color: white !important;
}

.StandingsCard-button:hover {
    background-color: #696969 !important;
}

.StandingsCard-score-container {
    float: right;
}

.StandingsCard-grid {
    display: grid;
    grid-template-columns: 5% 70% 25%;
}

.StandingsCard-gold {
    background-color: gold !important;
}

.StandingsCard-silver {
    background-color: silver !important;
}

.StandingsCard-bronze {
    background-color: #cd7f32 !important;
}

.StandingsCard-link {
    color: black;
}