.TeamTournament-body {
    padding: 50px;
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 25px;
}

.TeamTournament-tab {
    font-weight: normal;
    color: black !important;
    border-style: solid !important;
    border-color: #dddddd !important;
}

.TeamTournament-tab.active {
    font-weight: 600 !important;
    background-color: #eeeeee !important;
}

.TeamTournament-tab:hover {
    cursor: pointer;
    border-color: grey !important;
}

.TeamTournament-nav {
    height: fit-content !important;
    width: 100% !important;
}

.TeamTournament-nav-content {
    width: 100% !important;
}

.TeamTournament-round-indicator {
    color: grey;
    font-style: italic;
    text-align: left;
    padding-bottom: 0 !important;
}
