.TeamCard-body {
    text-align: left;
}

.TeamCard-rating {
    color: grey;
}

.TeamCard-text {
    width: 100%;
}

.TeamCard-button {
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    width: fit-content;
}

.TeamCard-score-container {
    float: right;
}

.TeamCard-grid {
    display: grid;
    grid-template-columns: 5% 70% 25%;
}

.TeamCard-gold {
    background-color: gold !important;
}

.TeamCard-silver {
    background-color: silver !important;
}

.TeamCard-bronze {
    background-color: #cd7f32 !important;
}

.TeamCard-button {
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    width: fit-content;
    background-color: white !important;
}

.TeamCard-button:hover {
    background-color: #696969 !important;
}
