.TournamentsPage {
    margin-top: 75px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.TournamentsPage-body {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.TournamentsPage-list {
    margin-left: 20px;
    margin-right: 20px;
}

.TournamentsPage-list-body {
    padding: 0 !important;
}