.TournamentInfo {
    width: 100%;
    min-width: 400px;
}

.TournamentInfo-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.TournamentInfo-body {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 0;
    column-gap: 0;
}

.TournamentInfo-left {
    text-align: left;
    font-weight: bold;
}

.TournamentInfo-right {
    text-align: right;
    font-style: italic;
}